@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
 }

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MAIN SCREEN */

.mainscreen{
    min-height: 100vh;
    background-color: #90350E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.mainscreen_link{
    font-size: 3.5rem;
    text-decoration: none;
    color: whitesmoke;
    transition: all .3s;
}

.mainscreen_link:hover,
.rules a:hover,
.gameover button:hover{
    color: rgb(231, 230, 230);
    font-weight: bold;
}


/* Rules */

.rules{
    min-height: 100vh;
    background-color: #90350E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.rules_wrapper{
    padding: 20px;
}

.rules_wrapper p {
    color: white;
    font-size: 2rem;
}

.rules a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

/* GAME SCREEN */

.game_screen{
    min-height: 100vh;
    position: relative;
}

.values{
    margin-left: 2em;
    margin-top: 2em;
}

.road_value{
    font-size: 2em;
}

/* gameover */

.gameover{
    min-height: 100vh;
    background-color: #90350E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.gameover_headline{
    font-size: 400;
    font-size: 5rem;
}

.gameover button{
    margin-top: 5em;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

/* INPUT */

.input{
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 99.6%;
    height: 100vh;
    background: rgba(245, 245, 245, 0.301);
    border: none;
    color: transparent;
    outline: none;
}

.input.input:focus{
    background: transparent;
    border: none;
    color: transparent;
    outline: none;
}

/* BEAR */

.bear_wrapper{
    position: absolute;
    bottom: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.bear_figure{
    transform: translate(50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Words */

.words_list{
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.word_wrapper{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}

.word{
    background-color: #2F2D2E;
    padding: 0px 1em;
    text-transform: uppercase;
    color: antiquewhite;
}

.word_wrapper_1{
    order: 1;
}

.word_wrapper_2{
    order: 2;
}

.word_wrapper_3{
    order: 3;
}


/* ROAD */

.road{
    box-sizing: border-box;
    background-color: rgb(65, 156, 42);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.road_bg{
    position: absolute;
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 100vh solid rgba(223, 155, 67, 0.993);
}

.block{
    width: 100px;
    height: 100px;;
    position: absolute;
    top: calc(100vh - (100vh/10)*6);
}

/* BEAR */


svg path{
    transform-box: fill-box;
}

#right_hand_top{
    transform-origin: bottom;
    animation-name: ht; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-delay: .3s;
}

#right_hand_down{
    animation-name: hd; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-delay: .3s;
}

#left_hand_top{
    transform-origin: bottom;
    animation-name: ht; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#left_hand_down{
    animation-name: hd; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#right_leg{
    animation-name: leg; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#left_leg{
    animation-name: leg; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-delay: .3s;
}

#body_top{
    transform-origin: bottom;
    animation-name: body; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#body_down{
    transform-origin: top;
    animation-name: body; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#head_top{
    transform-origin: bottom;
    animation-name: head; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#head_down{
    transform-origin: top;
    animation-name: head; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#ear_left,#ear_right{
    transform-origin: bottom;
    animation-name: ears; 
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* second column animation */

@keyframes ht{
    0%{
        
    }
    100%{
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}

@keyframes hd{
    0%{
        
    }
    100%{
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}

@keyframes leg {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes body{
    0%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

@keyframes head{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

@keyframes ears{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}


/* first column animation */

#border{
    border: 1px solid red;
}

/* head */
#l_head_side{
    animation-name: lhead-side; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#l_head_top{
    animation-name: lhead-top; 
    transform-origin: bottom;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#l_head_back{
    animation-name: lhead-back; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lhead-top{
    0%{
        transform: skew(-5deg) rotate(-5deg);
    }
    100%{
        transform: skew(5deg) rotate(5deg) translateY(1px);
    }
}
@keyframes lhead-back{
    0%{
        transform: skew(-5deg) rotate(-5deg);
        
    }
    100%{
        transform: skew(5deg) rotate(5deg);
    }
}
@keyframes lhead-side{
    0%{
        transform: translate(-.5px, -5px);
        
    }
    100%{
        transform: translate(-.5px, 2px);
    }
}

/* ears */

#l_left_ear{
    animation-name: lleft_ear; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#l_right_ear{
    animation-name: lright_ear; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lleft_ear{
    0%{
        transform: translateY(2px) rotate(-5deg);
        
    }
    100%{
        transform: translateY(0px) rotate(5deg);
    }
}

@keyframes lright_ear{
    0%{
        transform: translateY(0px) rotate(-5deg);
    }
    100%{
        transform: translateY(2px) rotate(5deg);
    }
}

/* body */

#l_body_side{
    animation-name: lbody-side; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#l_body_top{
    animation-name: lbody-top; 
    transform-origin: bottom;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#l_body_back{
    animation-name: lbody-back; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lbody-top{
    0%{
        transform: skew(5deg) rotate(5deg) translateY(2px);
    }
    100%{
        transform: skew(-5deg) rotate(-5deg);
    }
}
@keyframes lbody-back{
    0%{
        transform: skew(5deg) rotate(5deg);

    }
    100%{
        transform: skew(-5deg) rotate(-5deg);
    }
}
@keyframes lbody-side{
    0%{
        transform: translate(-.5px, 7px);

    }
    100%{
        transform: translate(-.5px, -7px);
    }
}

/* right arm */

#l_right_arm_back{
    animation-name: lright-arm-back; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#l_right_arm_top{
    animation-name: lright-arm-top; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#l_right_arm_side{
    animation-name: lright-arm-side; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lright-arm-top {
    0%{
        transform: translate(-.5px, 7px) ;

    }
    100%{
        transform: translate(-.5px, -7px) skewX(60deg) scaleY(.5) scaleX(.9) translateX(-5px);
    }
}
@keyframes lright-arm-side {
    0%{
        transform: translate(-.5px, 7px) ;

    }
    100%{
        transform: translate(-.5px, -7px) rotateX(-140deg) rotateY(-70deg) scaleY(.7) translateY(-10px);
    }
}
@keyframes lright-arm-back {
    0%{
        transform: translate(-.5px, 7px) ;

    }
    100%{
        transform: translate(5px, -21px)  rotateX(-140deg);
    }
}

/* left arm */

#l_left_arm_back{
    animation-name: lleft-arm-back; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#l_left_arm_top{
    animation-name: lleft-arm-top; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lleft-arm-top {
    0%{
        transform: translate(-.5px, -7px) skewX(60deg) scaleY(.5) scaleX(.9) translateX(5px);
        
    }
    100%{
        transform: translate(-.5px, 7px);
    }
}

@keyframes lleft-arm-back {
    0%{
        transform: translate(5px, -21px) translateX(5px) scaleY(.8) rotateY(-56deg) rotateX(-140deg);

    }
    100%{
        transform: translate(-.5px, -7px);
    }
}

/* legs */

#l_left_leg_back, #l_left_leg_side{
    animation-name: lleft-leg; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#l_right_leg_back, #l_right_leg_side{
    animation-name: lright-leg; 
    transform-origin: top;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes lleft-leg{
    0%{
        transform: translateY(-10px);
        
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes lright-leg{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

/* right column */

#right_column{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* bees */

#bee_left_column{
    transform: translateX(-80px);
}

/* wings */

#rwing_right{
    animation-name: rwing_right; 
    transform-origin: right;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#rwing_left{
    animation-name: rwing_left; 
    transform-origin: left;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes rwing_right{
    0%{
        transform: rotateZ(5deg) rotateY(10deg);
    }
    100%{
        transform: rotateZ(-5deg);
    }
}

@keyframes rwing_left{
    0%{
        transform: rotateZ(-5deg);
    }
    100%{
        transform: rotateZ(5deg)  rotateY(10deg);
    }
}

#wing_right{
    animation-name: wing_right; 
    transform-origin: right;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#wing_left{
    animation-name: wing_left; 
    transform-origin: left;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes wing_right{
    0%{
        transform: rotateZ(5deg);
    }
    100%{
        transform: rotateZ(-5deg);
    }
}

@keyframes wing_left{
    0%{
        transform: rotateZ(-5deg);
    }
    100%{
        transform: rotateZ(5deg);
    }
}